<header>
        <h1>Eventos</h1>
    </header>
    <main>
        <div class="title">
            <h2>Editar eventos</h2>

        </div>
        <div class="card">
            <form action="/resuleditar" method="post">

                <div class="input">
                    
                    <input type="hidden" id="id" name="id" value="{{id}}">

                </div>


                <div class="input">
                    <label for="">Evento</label>
                    <input type="text" id="evento" name="eventos" placeholder="Nome do evento" value="{{eventos}}">

                </div>

                <div class="input">
                    <label for="">Data</label>
                    <input type="date" id="data" name="datas" placeholder="Data do evento" value="{{datas}}">

                </div>

                <div class="input">
                    <label for="">Endereço</label>
                    <input type="text" id="endereco" name="enderecos" placeholder="Endereço do evento" value="{{enderecos}}">

                </div>
                <button type="submit">Atualizar</button>
                
            </form>
        </div>