 <header>
        <h1>Eventos</h1>
        
    
    </header>
    <main>
        <div class="title">
            <h2>Eventos da cidade</h2>
            <a href="usuario">Cadastre novo usuario</a>
            <button>Login</button>
        </div>
        

        <div>
            <button type="button"onclick="novoEventos.redirecionar2()">Cadastrar Eventos</button> 
            <button type="button" onclick="novoEventos.redirecionar()">Buscar Eventos</button>
            
        </div>
    
       
        
    </main>